[Unit]
Description=Kenan conversation owner for %i
Requires=pi-kenan-custody.service
BindsTo=pi-kenan-custody.service
After=pi-kenan-custody.service
JoinsNamespaceOf=pi-kenan-custody.service

[Service]
Type=simple
User=@EXECUTION_USER@
Group=@EXECUTION_USER@
EnvironmentFile=@KENAN_ENV_FILE@
EnvironmentFile=@STATE_DIR@/environments/%i
Environment=HOME=/home/%i
Environment=PI_AGENT_DIR=/home/%i/.pi/agent
Environment=PI_BIN=/home/%i/.local/bin/pi
Environment=PI_REMOTE_CONFIG=@PERSONS_DIR@/%i.json
Environment=PI_REMOTE_HOST=127.0.0.1
Environment=PATH=@STATE_DIR@/bin:/home/%i/.local/bin:/usr/local/bin:/usr/bin:/bin
LoadCredential=kenan-memory-supervisor:@STATE_DIR@/supervisor-capabilities/%i
PrivateMounts=yes
ExecCondition=/usr/bin/jq -e .oneKenan==true @HOST_FILE@
ExecStart=@REMOTE_ROOT@/server/pi-kenan-launch @BUN@ @REMOTE_ROOT@/server/main.ts
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=2
KillMode=control-group
TimeoutStopSec=15
UMask=0077
MemoryHigh=16G
MemoryMax=16G
MemorySwapMax=1G
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
